PaymentProcessingSolution/.vs/
PaymentProcessingSolution/PaymentProcessing.Client/obj/
PaymentProcessingSolution/PaymentProcessing.Tests/bin/
PaymentProcessingSolution/PaymentProcessing.Tests/obj/
PaymentProcessingSolution/PaymentProcessing.BusinessRules/obj/
PaymentProcessingSolution/PaymentProcessing.BusinessRules/bin/
